/* General body styling */
body {
	background-image: url("../img/bg-blurred.jpg");
    color: #FFF !important;
    background-size:cover;
    margin:0;
}

/*  Placeholder text-styling */
::-webkit-input-placeholder {
	text-align: center;
	border: none;
	color: #FFF;
}

input:focus::-webkit-input-placeholder {
	color: #FFF;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: center;
	border: none;
	color: #FFF;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: center;
	border: none;
	color: #FFF;
}

:-ms-input-placeholder {
	text-align: center;
	border: none;
	color: #FFF;
}

/* General columns */
.col-md {
	text-align: center;
	min-height: 100px;
    padding: 15px;
    margin-bottom:15px;
}

/* Input fields */
input {
	padding: 10px;
	text-align: center;
	border: none;
	border-bottom: 1px dashed #FFF;
	background: transparent;
	color: #FFF;
}

input:focus {
	outline: none;
	background: #b82927;
	color: #FFF;
}

input[type=submit] {
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
	background: #FFF;
	color: #c9211e;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	box-shadow: 0 0 3px 1 gray;
	border:1px solid transparent;
}

input[type=submit]:hover {
	color: #FFF;
	background: #c9211e;
	border:1px solid #FFF;
}

/* Horizontal line styling */
hr {
	border: 0;
	height: 0;
    box-shadow: 0 0 15px 3px #6f0300;
	margin: 50px 0 5px 0;
	width: 100%;
}

div.class {
	padding: 10px;
}

/* Hide CSV section on start-up */
#csv {
	display: none;
}

/* Textarea styling */
textarea {
	background: transparent;
	color: #FFF;
	border: 1px dotted #FFF;
	overflow: auto;
	resize: vertical;
	border-left: none;
	border-right: none;
	padding: 10px;
	min-height: 150px;
    width: 50%;
    max-height:50px;
	outline: none;
}

/* Smartphone / small device */
@media only screen and (max-width: 600px) {
	textarea {
		width: 90%;
	}
	h2 {
		font-size: 1.6rem;
	}
}